@import "../node_modules/bootstrap/dist/css/bootstrap-grid.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css";
@import "../node_modules/primereact/resources/themes/arya-blue/theme.css";